@model IEnumerable<CarInsurance.Models.Insuree>

@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

            @Html.DisplayNameFor(model => model.FirstName)

            @Html.DisplayNameFor(model => model.LastName)

            @Html.DisplayNameFor(model => model.EmailAddress)


@foreach (var item in Model) {

            @Html.DisplayFor(modelItem => item.FirstName)

            @Html.DisplayFor(modelItem => item.LastName)

            @Html.DisplayFor(modelItem => item.EmailAddress)
  }


